.navbar {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 74px;
        list-style-type: none;
        li {
            font-size: 14px;
            text-transform: uppercase;
            margin-right: 20px;

            @media screen and(min-width: 700px) {
                font-size: 20px;
            }

        &:last-child {
            margin-right: 0;
        }
            a {
                color: #fff;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                transition: .3s ease-in;

                &:hover{
                    border-bottom: 2px solid #89d25c;
                }
            }
        }
    }
}